@use '../common/base';

html,
body,
#root,
.ant-layout,
.ant-layout-content {
  background: #2d63ff !important;
}

.ant-card {
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.25);
  background: rgba(255, 255, 255, 0.92);
}
